{
    "version": "2017-02-28",
    "operation": "Invoke",
    "payload": {
        "arguments": $utils.toJson($ctx.args),
        "source": $utils.toJson($ctx.source),
        "result": $utils.toJson($ctx.result),
        "identity": $utils.toJson($ctx.identity),
        "request": $utils.toJson($ctx.request),
        "info": $utils.toJson($ctx.info),
        "stash": $utils.toJson($ctx.stash),
        "context": $utils.toJson($ctx)
    }
}
